
@{
    ViewBag.Title = "Index";
}

<h2>Tabs</h2>
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Personal')">Personal</button>
    <button class="tablinks" onclick="openCity(event, 'Business')">Business</button>
</div>

<div id="Personal" class="tabcontent">
    <h3>Personal transactions</h3>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
</div>

<div id="Business" class="tabcontent">
    <h3>Business transactions</h3>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
